@{
    ViewBag.Title = "Accounts";
}
<br />
<form>
    <label>Get Account Balance</label><br />
    <input type="text" id="acntId" name="acntId" placeholder="Account ID" /><br /><br />
    <input type="text" id="bal" name="bal" placeholder="Account Balance" readonly /><br /><br />
</form>
<button id="submitBtn" onclick="GetAccount()">Get Account</button>
<br />
<form>
    <label>Deposit Money</label><br />
    <input type="text" id="acntIdDeposit" name="acntIdDeposit" placeholder="Enter Account ID"/><br /><br />
    <input type="text" id="amount" name="amount" placeholder="Deposit Amount" /><br /><br />
</form>
<button id="DepositBtn" onclick="Deposit()">Deposit</button>
<br />
<form>
    <label>Withdraw Money</label><br />
    <input type="text" id="acntIdWithdraw" name="acntIdWithdraw" placeholder="Enter Account ID" pattern="[0-9]+"/><br /><br />
    <input type="text" id="amountWithdraw" name="amountWithdraw" placeholder="Withdraw Amount" pattern="[0-9]+" /><br /><br />
</form>
<button id="DepositBtn" onclick="Withdraw()">Withdraw</button>
<br/>
<script>
    function GetAccount() {
        console.log("Get Account");

        $.ajax({
            url: "api/BankApi/Account/" + $("#acntId").val(),
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data == null) {
                    alert("Unable to find account, please enter valid account number");
                    console.log("Unable to find account number");
                }
                else {
                    var obj = data;
                    $("#bal").val(obj.acntBal);
                    $("#acntId").val(obj.acntId);
                    alert("Account Found");
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("invalid data found");
                console.log(errorThrown);
            }
        })
    }

    function Deposit() {
        console.log("Deposit Money");
        $.ajax({
            url: "api/BankApi/Deposit/" + $("#acntIdDeposit").val() + "/" + $("#amount").val(),
            type: 'post',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data == 0) {
                    alert("Unable to deposit " + $("#amount").val() + " to account. Please enter a valid ID and amount and try again");
                    console.log("Unable to deposit money, invalid ID entered");
                }
                else {
                    alert("Deposit Successful");
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
                alert("invalid data found, please try again");
            }
        })
    }

        function Withdraw() {
        console.log("Deposit Money");
        $.ajax({
            url: "api/BankApi/Withdraw/" + $("#acntIdWithdraw").val() + "/" + $("#amountWithdraw").val(),
            type: 'post',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data == 0) {
                    alert("Unable to withdraw " + $("#amountWithdraw").val() + " to account. Please enter a valid ID and amount and try again")
                }
                else {
                    console.log(textStatus);
                    alert("Withdrawal successful");
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
                alert("invalid data found");

            }
        })
    }
</script>