@{
    ViewBag.Title = "Transaction Page";
}

<form>
    <label>Create Transaction</label><br />
    <input type="text" id="amount" name="amount" placeholder="Amount" /><br /><br />
    <input type="text" id="senderID" name="senderID" placeholder="Sender ID" /><br /><br />
    <input type="text" id="receiverID" name="receiverID" placeholder="Receiver ID" /><br /><br />
</form>
<button id="submitBtn" onclick="CompleteTransaction()">Complete Transaction</button>
<br />
<script>

    function CompleteTransaction() {
        console.log("Create Transaction");
        $.ajax({
            url: "api/BankApi/CreateTransaction/" + $("#amount").val() + "/" + $("#senderID").val() + "/" + $("#receiverID").val(),
            type: 'post',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data == false) {
                    alert("Unable to process transaction. Please try again");
                    Console.log("Unable to create transaction, invalid data entered");
                }
                else {
                    alert("Processing transaction from: " + $("#senderID").val() + " to " + $("#receiverID").val());
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown)
                alert("Invalid data entered for transaction, please try again");
                $("#amount").val("Amount");
                $("#senderID").val("Sender ID");
                $("#receiverID").val("Receiver ID");

            }
        })
    }
</script>

<form>
    <label>Get Transaction</label><br />
    <input type="text" id="transactionID" name="transactionID" placeholder="Transaction ID" />
    <input type="text" id="transactionGetAmount" name="transactionGetAmount" placeholder="Amount" readonly /><br /><br />
    <input type="text" id="transactionGetSender" name="transactionGetSender" placeholder="Sender ID" readonly /><br /><br />
    <input type="text" id="transactionGetReceiver" name="transactionGetReceiver" placeholder="Receiver ID" readonly /><br /><br />
</form>
<button id="submitBtn" onclick="GetTransaction()">Get Transaction</button>
<br />

<script>

    function GetTransaction() {
        console.log("Retrieve Transaction");
        $.ajax({
            url: "api/BankApi/GetTransaction/" + $("#transactionID").val(),
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data == null) {
                    alert("Transaction doesn't exist");
                }
                else {
                    $("#transactionGetAmount").val(data.amount);
                    $("#transactionGetSender").val(data.senderId);
                    $("#transactionGetReceiver").val(data.receiverId);
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown)
                alert("Invalid data entered for transaction, please try again");
                $("#amount").val("Amount");
                $("#senderID").val("Sender ID");
                $("#receiverID").val("Receiver ID");

            }
        })
    }
</script>


