@{
    ViewBag.Title = "Users Page";
}
<form>
    <label>Search a User</label><br/>
    <input type="text" id="id" placeholder="User Id"/><br /><br />
    <input type="text" id="fname" name="fname" placeholder="First Name" readonly/><br /><br />
    <input type="text" id="lname" name="lname" placeholder="Last Name" readonly /><br /><br />
</form>
<button id="submitBtn" onclick="GetUser()">Get User</button>
<br />
<script>
    function GetUser() {
        console.log("Get User");
        $.ajax({
            url: 'api/BankApi/GetUser/' + $("#id").val(),
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data == null) {
                    Console.log("Invalid user id was entered, please try again");
                    alert("Invalid user id was entered, please try again");
                }
                else {
                    var obj = data;
                    $("#fname").val(obj.firstName);
                    $("#lname").val(obj.lastName);
                    $("#id").val(obj.userId);
                    alert("User: " + obj.userId + "was found");
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Invalid data entered for user, please try again");
                Console.log("Invalid data entered for user, please try again")
            }
        })
    }
</script>

<form>
    <label>Create a User and User Account</label><br/>
    <input type="text" id="acntFirstName" name="acntFirstName" placeholder="First Name" /><br /><br />
    <input type="text" id="acntLastName" name="acntLastName" placeholder="Last Name"/><br /><br />
</form>
<button id="submitBtn" onclick="CreateUser()">Create User</button>
<script>
    function CreateUser() {
            console.log("Creating User");
        $.ajax({
            url: 'api/BankApi/Create/' + $('#acntFirstName').val() + '/' + $('#acntLastName').val(),
            type: 'post',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                if (data == null) {
                    Console.log("Unable to create user");
                    alert("Invalid data, try again");
                }
                else {
                    console.log(textStatus);
                    alert("Account created");
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown)
                alert("Invalid data entered to create user, please try again");
            }
        })
        }
</script>

