@{
        ViewBag.Title = "Tell admin page";
}
<div>
    <br/>
    <form>
        <strong><label>Enter Subject of text: </label></strong><br/> <input type="text" id="subject" name="subject" />
        <strong><label>Enter text to admin: </label></strong><br/> <textarea id="message" name="message" rows="6" cols="60"></textarea><br/>
        <button onclick="SendToAdmin()">Send to Admin</button>
    </form>

    <script>
        function SendToAdmin() {
            $.ajax({
                url: "/api/Web/StoreMessage/" + $("#subject").val() + $("#message").val(),
                type: 'post',
                contentType: 'application/json',
                processData: false,
                success: function (data, textStatus, jQxhr) {
                    alert("Your message was sent")
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("unable to send message");
                }
            })
        }
    </script>
</div>