@{
    ViewBag.Title = "Account";
}

<h2>Accounts Page</h2>
<form>
    <input type="text" id="id" name="id" placeholder="User ID" /><br /><br />
    <input type="text" id="fname" name="fname" placeholder="First Name" /><br /><br />
    <input type="text" id="lname" name="lname" placeholder="Last Name" /><br /><br />
</form>
<button id="submitBtn" onclick="createUser()">Generate User</button>

<script>
    function createUser()
    {
        $.ajax({
            url: 'api/BankApi/CreateUser',
            type: 'POST',
            contentType: 'application/json',
            processData: false,
            data: JSON.stringify({
                    firstName: $("#fname").val(),
                    lastName: $("#lname").val(),
                    userId: $("#id").val(),
            }),
            success: function (result) {
                alert(result);
            }
           ,
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>