
@{
    ViewBag.Title = "Account";
}

<h2>Accounts Page</h2>
<form id="myForm">
    <input type="text" id="id" name="id" placeholder="User ID" /><br /><br />
    <input type="text" id="fname" name="fname" placeholder="First Name" /><br /><br />
    <input type="text" id="lname" name="lname" placeholder="Last Name" /><br /><br />
</form>
<button id="submitBtn" onclick="createUser()">Submit</button>

<script>
    function createUser()
    {
        $.ajax({
            url: '/api/User',
            type: 'POST',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                var obj = data;
                obj.userId = $("#id").val();
                obj.firstName = $("#fname").val();
                obj.lastName = $("#lname").val()
                console.log(obj.lastName);
                console.log(obj.firstName);
                console.log(obj.userId);

            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
    

